{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
  
            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary">New</span>
                    <span class="d-block text-dark">Orchid</span>
                </h1>
            </div>
        </div>
    </div>
  </header>
  
  <div class = "col-12">

  </div>
  <div class = "container">
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">What's on your mind?</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
        <br>
        <div class="border-top pt-3">
            <small class="text-muted">Back to <a href="{% url 'Orchid-Home' %}">Homepage</a></small>
        </div>
        <br>
        <br>
    </div>
    </div>
{% endblock content %}